<div class="row">
  <h1>Individual counter record</h1>
  <p style="color:purple">Hello, {{userGreeted.name}} has been greeted {{userGreeted.counter}} time(s)</p>
   <a href="/greeted">Back to list</a>
   <span style="color:blue">OR</span>
  <a href="/">Back to greetings</a>
    
</div>