<div class="row">
  <h1>Hello, {{userGreeted.name}} has been greeted {{userGreeted.counter}} time(s)</h1>
   <a href="/greeted">Back to list</a>
   <span style="color:purple">OR</span>
  <a href="/">Back to greetings</a>
    
</div>