<div class="row">
    <h1>List of greeted people</h1>
    <table>
        
        {{#each greeting}}
        <tr>
            <td><a href="/counter/{{this.name}}">{{this.name}}</a></td>
        </tr>
        {{/each}}

         
    </table>

    <a style="color:purple"href="/">Back to greetings</a>
</div>